@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Bebas+Neue&family=Dosis:wght@200..800&family=SUSE:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

html {
  font-size: 62.5%;
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
}